header{
    background-color: rgba(6, 24, 105, 0.781);
    text-align: center;
}
.cuerpo  {
    background-color: rgb(43, 129, 129);
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(79, 148, 122);
    
}

h1 {
    text-align: center;
}

h3{
    text-align: center;
}

.logo{
    text-align: center;
}
img {

    border-radius: 50%;
    width: 150PX;
    
}

p {
    text-align: center;
    color: rgb(165, 121, 121);
}

.slogan p{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #682a2a;
    font-size: 10px;
}

.menus {
    text-align: center;
    padding: auto;
    color: rgb(0, 0, 0);
    
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

footer {

    padding: auto;
    background-color: rgb(25, 56, 92);
}